<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <!--com.lm.springmvc.config.SpringMVCApplicationinitializer，新型的配置方式！！！！！ -->

    <!-- 配置session过期时间120分钟 -->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <!-- 返回错误编码对应的错误页面 -->
    <!--<error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>-->
</web-app>
